.oyoplayer {
    box-sizing                  : border-box;
    user-select                 : none;
    overflow                    : hidden;
    background: #000;
    width: 100%;
    display: flex;
    align-items: center;
}
audio {
    outline-style		: none;
}
audio::-webkit-media-controls {
    overflow  : hidden !important;
}
audio::-webkit-media-controls-enclosure {
    background-color		: black;
    margin-left                 : auto;
    border-radius               : 0px;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
    filter			: invert(100%);
}
.oyotagbox {
    border-radius		: 8px;
    margin                      : 8px 0px 0px;
    box-sizing                  : border-box;
    /* width: 100%; */
    overflow: hidden;
}
.oyotag {
    display                     : inline-block;
    color			: white;
    white-space			: nowrap;
    box-sizing                  : border-box;
    font-size                   : 13.33px;
    font-weight                 : 700;
    height                      : 15.33px;
    padding                     : 0px;
}
